*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .container{
    display: flex;
   justify-content: space-between;
    flex-wrap:wrap;
    padding: 1% 4%;
}
.product-card{
    height: 350px;
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
   background-color: #aec4eb; 
   border-radius: 5px;   
}
.product-card img{
    height: 150px;
    margin-top: 10px;
}
.price{
    color: green;
}
.rate{
    color: red;
}
.product-name{
    font-size: 24px;
    margin-bottom: 5px;
}
.descri{
    margin-bottom: 10px;
} */
.nav{
    background-color: gray;
    padding: 10px 15px;
}
a{
    text-decoration: none;
    color: #fff;
    /* float: right; */
    margin-left: 20px;
}
.addproducts-page{
    text-align: center;
    padding: 0% 6%;
    width: 50%;
    border: 3px solid #888;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.addproducts-page h1{
    margin-bottom: 10px;
}
input{
    padding: 3px;
    width: 70%;
    font-size: 22px;
    margin-bottom: 10px;
}
.add-btn{
    width: 70%;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid #888;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
    
}
.add-btn:hover{
    background-color: green;
    color: #fff;
    border: 1px solid #fff;
    
}
