.heading {
    text-align: center;
}
.navLinks a {
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
}
.counter {
    padding: 4% 0%;
    text-align: center;
}
.todos{
    text-align: center;
}
ul {
   width: 200px;
   margin: 15px auto;
}