*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.apps{
    display: flex;
    gap: 50px;
}
.counter-card{
    height: 300px;
    width: 400px;
    background-color: #ad1;
    padding: 50px;
    text-align: center;
}
.counter-heading{
    font-size: 38px;
}
.counter_btns{
    padding: 5px 15px;
    font-size: 30px;
    margin-top: 30px;
}
.todo-card{
    height: 300px;
    width: 400px;
    background-color: teal;
    padding: 15px;
    text-align: center;
}
input[type='text']{
    padding: 3px;
}
li{
    margin-bottom: 10px;
    list-style: none;
    margin-left: 70px;
}

.addbtn{
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px;
}
.del{
    padding: 5px;
    background-color: red;
    color: #fff;
    border: none;
    margin-bottom: 10px;

}
